<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
    <key>AlivcLicenseKey</key>
    <string>Wod3WyYZE4eFgyk3bab28a69f2f844e93b5b8653c7b0c22a8</string>
    <key>AlivcLicenseFile</key>
    <string>video_license.crt</string>
</dict>
</plist>
